@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
    --cyan: rgb(0, 184, 169);
    --light-cyan: rgb(0, 235, 215);
    --dark-cyan: rgb(0, 133, 122);
    --lemon: rgb(177, 249, 60);
    --light-lemon: rgb(197, 251, 109);
    --blackish: rgb(17, 17, 17);
}

*, *::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, nav *{
    font-family: 'Montserrat', sans-serif !important;
}

body{
    font-family: 'Raleway', sans-serif !important;
}
